<%= form_with(model: progressweapon, local: true) do |form| %>
  <% if progressweapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progressweapon.errors.count, "error") %> prohibited this progressweapon from being saved:</h2>

      <ul>
      <% progressweapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
