/* line 1, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
body {
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 20, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 25, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 30, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 34, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 40, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 47, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 57, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 63, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 1, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 5, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
body {
  background-image: url(/assets/bg-115c84d7d0f802f9a29d5a9ea5ca5247acfc1e438161be28e059f36f0c5084e9.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 15, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.slogan {
  color: red;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 22, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.title {
  color: #FFA500;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
  margin-top: 10px;
}

/* line 30, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.text {
  color: #EEE;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 37, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.alias {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

/* line 43, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.label {
  color: #FF0000;
  font-size: 20px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 51, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
#notice {
  color: #00FF00;
  font-size: 20px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 59, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.centre-container {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

/* line 65, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.wide {
  width: 100%;
  padding: 10px;
}

/* line 70, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.logo {
  width: 100%;
}

/* line 74, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.vs {
  width: 100%;
  display: none;
}

/* line 79, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 84, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selectable {
  margin: 10px;
}

/* line 88, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selectable:hover {
  -moz-box-shadow: 0 0 50px #F00;
  -webkit-box-shadow: 0 0 50px #F00;
  box-shadow: 0 0 50px #F00;
  cursor: pointer;
}

/* line 95, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selected {
  -moz-box-shadow: 0 0 50px #F00;
  -webkit-box-shadow: 0 0 50px #F00;
  box-shadow: 0 0 50px #F00;
  background: rgba(255, 165, 0, 0.3);
}

/* line 102, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.winner {
  -moz-box-shadow: 0 0 50px #0F0;
  -webkit-box-shadow: 0 0 50px #0F0;
  box-shadow: 0 0 50px #0F0;
}

/* line 108, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.winner-label {
  color: #00FF00;
  font-size: 30px;
  text-shadow: 0 0 0.2em #0F0;
  -moz-text-shadow: 0 0 0.2em #0F0;
  -webkit-text-shadow: 0 0 0.2em #0F0;
}

/* line 116, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.loser {
  -moz-box-shadow: 0 0 50px #F00;
  -webkit-box-shadow: 0 0 50px #F00;
  box-shadow: 0 0 50px #F00;
}

/* line 122, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.loser-label {
  color: #FF0000;
  font-size: 30px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 130, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.log {
  color: #FFFFFF;
  font-size: 20px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 138, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.summary {
  color: #000;
  font-size: 50px;
  text-shadow: 0 0 0.2em #FFA500;
  -moz-text-shadow: 0 0 0.2em #FFA500;
  -webkit-text-shadow: 0 0 0.2em #FFA500;
}

/* line 146, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
#fighter-one,
#fighter-two,
#weapons-one,
#weapons-two {
  display: none;
}

/* line 153, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
#begin {
  display: none;
  width: 100%;
  margin-top: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

