/* line 1, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 5, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
body {
  background-image: url(/assets/bg-115c84d7d0f802f9a29d5a9ea5ca5247acfc1e438161be28e059f36f0c5084e9.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 15, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.slogan {
  color: red;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 22, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.title {
  color: #C0C0C0;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 29, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.text {
  color: #EEE;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 36, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.alias {
  width: 100px;
  border-radius: 50%;
}

/* line 41, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.label {
  color: #FF0000;
  font-size: 20px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 49, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
#notice {
  color: #00FF00;
  font-size: 20px;
  text-shadow: 0 0 0.2em #000;
  -moz-text-shadow: 0 0 0.2em #000;
  -webkit-text-shadow: 0 0 0.2em #000;
}

/* line 57, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.centre-container {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

/* line 63, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.wide {
  width: 100%;
  padding: 10px;
}

/* line 68, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.logo {
  width: 100%;
}

/* line 72, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.vs {
  width: 50%;
}

/* line 76, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selectable .ui-selecting {
  border: 2px dashed #ff0000;
}

/* line 80, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selectable .ui-selected {
  border: 2px solid #ff0000;
  -webkit-box-shadow: 0px 0px 8px 0px red;
  -moz-box-shadow: 0px 0px 8px 0px red;
  box-shadow: 0px 0px 8px 0px red;
}

/* line 87, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selectable img {
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffffff;
}

/* line 93, /home/saadaoui/Desktop/Jobs/Captain Contrat/Mortal Kombat/app/assets/stylesheets/style.css.scss */
.selected-items {
  border: 2px solid #ff0000;
  line-height: 32px;
}
