<div class='centre-container'>
<%= link_to '<button type="button" class="btn btn-warning">Fighters</button>'.html_safe, weapons_path %>
    <center>
        <h1 class="title">Edit Weapon</h1>
        <p id="notice">
            <%= notice %>
        </p>
        <%= render 'form', weapon: @weapon %>
    </center>
</div>