html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-image: image-url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan {
    color: red;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.title {
    color: #FFA500;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
    margin-top: 10px;
}

.text {
    color: #EEE;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.alias {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.label {
    color: #FF0000;
    font-size: 20px;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

#notice {
    color: #00FF00;
    font-size: 20px;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.centre-container {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.wide {
    width: 100%;
    padding: 10px;
}

.logo {
    width: 100%;
}

.vs {
    width: 100%;
    display: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.selectable {
    margin: 10px;
}

.selectable:hover {
    -moz-box-shadow: 0 0 50px #F00;
    -webkit-box-shadow: 0 0 50px #F00;
    box-shadow: 0 0 50px #F00;
    cursor: pointer;
}

.selected {
    -moz-box-shadow: 0 0 50px #F00;
    -webkit-box-shadow: 0 0 50px #F00;
    box-shadow: 0 0 50px #F00;
    background: rgba(255, 165, 0, 0.3)
}

.winner {
    -moz-box-shadow: 0 0 50px #0F0;
    -webkit-box-shadow: 0 0 50px #0F0;
    box-shadow: 0 0 50px #0F0;
}

.winner-label {
    color: #00FF00;
    font-size: 30px;
    text-shadow: 0 0 0.2em #0F0;
    -moz-text-shadow: 0 0 0.2em #0F0;
    -webkit-text-shadow: 0 0 0.2em #0F0;
}

.loser {
    -moz-box-shadow: 0 0 50px #F00;
    -webkit-box-shadow: 0 0 50px #F00;
    box-shadow: 0 0 50px #F00;
}

.loser-label {
    color: #FF0000;
    font-size: 30px;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.log {
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.summary {
    color: #000;
    font-size: 50px;
    text-shadow: 0 0 0.2em #FFA500;
    -moz-text-shadow: 0 0 0.2em #FFA500;
    -webkit-text-shadow: 0 0 0.2em #FFA500;
}

#fighter-one,
#fighter-two,
#weapons-one,
#weapons-two {
    display: none;
}

#begin {
    display: none;
    width: 100%;
    margin-top: 20px;
}